hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #FFFF00;
    height: 1px;
}

.parentBackground {
    background-image: url("https://thumbs.dreamstime.com/b/dog-paw-seamless-pattern-vector-cat-paw-foot-print-isolated-wallpaper-tile-background-backdrop-brown-dog-paw-seamless-pattern-124895915.jpg");
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parentBackground2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.parentButtons {
    background-color: white;
    border-bottom: 1px black solid;

}



.litterParent {
    display: flex;
    justify-content: space-around;
}

.backgroundSeparation {
    background-image: url("https://thumbs.dreamstime.com/b/dog-paw-seamless-pattern-vector-cat-paw-foot-print-isolated-wallpaper-tile-background-backdrop-brown-dog-paw-seamless-pattern-124895915.jpg");
    height: 5vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

.puppyPicture {
    height: 380px;
    width: 400px;
    border: 10px solid;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.puppySort {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}