.innerFooterBox {
    background-color: black;
    height: 17vh;
    width: 100%;
    border-top: 10px lightgray solid;
}

.imageContainer {
    background-color: black;
}

.spinnerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}



.dropdown-item a {
    font-family: 'Roboto', sans-serif;
    color: black !important;
    text-decoration: none;
}